/*************************
 * Statuses
 ************************/

%status{
    & > span {
        cursor: pointer;
        border-bottom: dashed 1px #DCE3E7;
        margin-left: 30px;
        position: relative;
        padding-bottom: 3px;

        &::before {
            display: block;
            content: '';
            position: absolute;
            left: -30px;
            top: -3px;
            width: 20px;
            height: 20px;
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &.status-contacting span::before {background-image: url("../images/icons/Contacting 0.png")}
    &.status-talked span::before {background-image: url("../images/icons/Talked to the client.png")}
    &.status-scheduled span::before {background-image: url("../images/icons/Assessment scheduled.png")}
    &.status-contract-signed span::before {background-image: url("../images/icons/Contract Signed.png")}
    &.status-cancelled span::before {background-image: url("../images/icons/Cancel the client.png")}
}