/*************************
 * Matched Providers Page
 ************************/

table#matched-providers {
    & thead {
        tr.table-title {
            td {
                @include media(tablet) {
                    &.id, &.actions {
                        display: none;
                    }
                }
            }
        }
    }
    & tr {
        height: 30px;

        &.cancelled {
            background: #FFEFF2;
        }

        @include media(desktopMin) {
            height: auto;
            position: relative;
        }

        td {
            padding: ($cellPadding + 5);

            &.phone {
                min-width: 200px;
            }

            &.email, &.phone {
                a {
                    text-decoration: none;
                    color: $defaultColor;

                    &:hover {
                        opacity: 0.7;
                    }
                }
            }

            @include media(desktopWide) {
                &.type {
                    min-width: 80px;
                }

                &.actions {
                    min-width: 190px;
                }
            }

            @include media(desktopMedium) {
                padding: ($cellPadding + 2px);

                &.email {
                    padding-top: 17px;
                    padding-bottom: 17px;

                    div.phone {
                        display: block !important;
                        padding-top: 11px;
                    }
                }

                &.email, &.phone, &.id {
                    font-size: 0.9rem;
                }

                &.name {
                    & .id {
                        padding-top: 11px;
                        font-weight: normal;
                    }
                }
            }

            @include media(desktopMin) {
                flex: 1 0 21%;
                margin: 5px;
                &.type {
                    flex-grow: 0;
                    flex-basis: 13%;
                }
                &.email, &.name, &phone {
                    flex-basis: 24%;
                }
                &.phone {
                    font-size: 0.9rem;
                }
                &.actions {
                    text-align: right;
                }
            }

            @include media(laptop) {
                word-break: break-word;

                &.type {
                    min-width: 0;
                }

                &.phone {
                    min-width: 0;
                }

                &.actions {
                    min-width: 165px;
                    display: flex;
                    justify-content: space-between;

                    & button {
                        padding: 0 8px;
                    }
                }

                &.name {
                    & .id {
                        opacity: 0.7;
                        font-size: 0.9em;
                    }
                }
            }

            @include media(tablet) {
                word-break: initial;
                padding: $cellPadding;

                &.id {
                    position: absolute;
                    left: $cellPadding;
                    bottom: $cellPadding;
                }

                &.email {
                    padding-top: $cellPadding;
                    padding-bottom: $cellPadding;
                }

                &.actions {
                    min-width: 190px;
                    display: block;

                    & button {
                        padding: 0 10px;
                    }
                }
            }

            &.type {
                & > div {
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    background-repeat: no-repeat;
                    background-position: center;
                    margin-right: 10px;

                    &:last-of-type {
                        margin-right: 0;
                    }

                    &.type-contracted {background-image: url(/images/icons/Contracted.png);}
                    &.type-non-contracted {background-image: url("/images/icons/Non Contracted.png");}
                    &.type-person {background-image: url(/images/icons/IC.png);}
                    &.type-agency {background-image: url("/images/icons/Home care agency.png");}

                    @include media(desktopWide) {
                        margin-right: 5px;
                    }

                    @include media(tablet) {
                        margin-right: 5px;
                    }
                }
            }

            &.name {
                font-weight: bold;
            }

            &.status {
                @extend %status;

                @include media (desktopWide) {
                    & span {
                        display: inline-block;
                    }
                }
            }

            &.actions {
                 & button {
                     margin-right: 7px;
                     font-size: 0.9rem;
                     vertical-align: top;

                     &.call {
                         background: #29C581;
                     }

                     &.menu {
                         border: none;
                         background: url("/images/icons/kebab menu.png") no-repeat;
                         padding: 0;
                         width: 12px;
                         height: 30px;
                         background-position: center center;
                         position: relative;
                         top: -1px;
                         margin-left: 4px;
                         margin-right: 0;

                         &:hover {
                             background-image: url("/images/icons/kebab menu hover.png");
                         }
                     }

                     @include media(tablet) {
                         margin-right: 15px;

                         &.menu {
                             width: auto;
                             background-position: left center;
                             color: #7094a9;
                             height: ($buttonHeight + 2px);
                             padding: 0 10px;
                             margin-left: 0;
                             background: none !important;
                             border: solid 1px #ddd;
                         }
                     }
                 }
            }
        }
    }

    @include media(tabletMedium) {
        tr {
            td {
                &.name {
                    flex-basis: 31%;
                }

                &.email {
                    flex-basis: 50%;
                }

                &.type {
                    display: flex;
                }

                &.actions {
                    display: flex;

                    & .menu {
                        overflow: hidden;
                    }
                }
            }
        }

        thead {
            .status {
                display: none;
            }
        }
    }

    @include media(tabletSmall){
        thead {
            tr{
                td {
                    display: none;

                    &.type {
                        display: none;
                    }
                }
            }
        }

        tbody {
            tr {
                td {
                    &.actions {
                        justify-content: flex-end;
                    }

                    &.type {
                        min-width: 70px;
                    }
                }
            }
        }
    }

    @include media(mobile){
        tr {
            td {
                padding: ($cellPadding - 5px) ($cellPadding - 5px) $cellPadding ($cellPadding - 5px) ;
            }
        }

        tbody {
            tr td {
               &.status {
                   flex-basis: 100%;
               }
            }
        }
    }
}