/*************************
 * Modal
 ************************/

body .modal {
    display: none;
    border-radius: 10px;
    padding: 25px;

    .header {
        font-size: 1.1rem;
        font-weight: bold;
        margin-bottom: 10px;
    }

    .rating {
        height: 20px !important;

        .star {
            display: inline-block;
            width: 21px;
            height: 20px;
            background-size: contain;
            margin-right: 2px;

            &.empty-star {background-image: url("/images/icons/Star grey.png");}
            &.half-star {background-image: url("/images/icons/Star-half.png");}
            &.filled-star {background-image: url("/images/icons/Star yellow.png");}
        }

    }

    .rating, .text {
        margin-bottom: 10px;
    }

    button {
        height: 40px;
        font-size: 1rem;
    }
}

#feedback-modal {
    width: 330px;

    textarea {
        height: 129px;
        width: 100%;
    }

    button.save-button {
        width: 100%;
    }
}